img{
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
    filter: invert(42%) sepia(81%) saturate(4073%) hue-rotate(165deg) brightness(95%) contrast(88%);
}

img:hover {
    transform: scale(1.2);
}

.custom-input {

    border-radius: 4px;
}
.custom-input{
    filter: blur(2px);
    filter: brightness(150%);
    filter: contrast(200%);
    filter: sepia(80%);
    filter: saturate(4000%);
    
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}