img {
  width: 50px;
  height: 50px;
}
.custom-input {
    font-size: 16px;
    border-radius: 4px;
    background-color: #f9f9f9; /* Color de fondo */
  }
  .custom-input{
    filter: blur(2px);
    filter: brightness(150%);
    filter: contrast(200%);
    filter: sepia(80%);
    filter: saturate(4000%);
  } 
  
  input:focus {
    outline: none; /* Quita el contorno de enfoque predeterminado */
    border-color: #007bff; /* Cambia el color del borde cuando el campo está en foco */
    box-shadow: 0 0 0 2px #007bff33; /* Agrega una sombra cuando el campo está en foco */
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }