<div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="about-section">
        <h1>Acerca De Nosotros</h1>
        <p>Con nuestra aplicación de agenda de contactos, puedes agregar, editar y eliminar contactos de forma rápida y fácil. Además, te ofrecemos diversas funcionalidades para organizar tus contactos, como la capacidad de categorizarlos, asignar etiquetas, agregar notas y más.</p>
        <p>Nos enfocamos en brindarte una experiencia de usuario excepcional, con una interfaz intuitiva y amigable. Queremos que disfrutes de usar nuestra aplicación y que te ayude a mantener tus contactos organizados de manera efectiva.</p>
    </div>
    <button class="btn btn-danger" (click)="reduccion()">X</button>
</div>
  
