<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .toolbar {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .spacer {
      flex-grow: 1;
    }
  </style>
</head>

<body>
  <div class="toolbar">
    <h5>AGENDA CONTACTOS</h5>
    <div class="spacer"></div>
    <a style="cursor: pointer;"><i class="fa-solid fa-users"></i>Contactos:{{ count }}</a>
  </div>
</body>

</html>
